USE [master]
GO
/****** Object:  Database [LIGAPRO_DB]    Script Date: 27/11/2025 19:27:09 ******/
CREATE DATABASE [LIGAPRO_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIGAPRO_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LIGAPRO_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIGAPRO_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\LIGAPRO_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIGAPRO_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIGAPRO_DB]
GO
/****** Object:  Table [dbo].[Cruces]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cruces](
	[IdCruce] [int] IDENTITY(1,1) NOT NULL,
	[IdFase] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdCruce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoJugador]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoJugador](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[IdJugador] [int] NOT NULL,
	[NumeroCamiseta] [int] NULL,
	[Posicion] [varchar](50) NULL,
	[EsCapitan] [bit] NOT NULL,
 CONSTRAINT [PK_EquipoJugador] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[IdEquipo] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioCreador] [int] NOT NULL,
	[Nombre] [nvarchar](150) NOT NULL,
	[Imagen] [nvarchar](max) NULL,
	[Activo] [bit] NOT NULL,
 CONSTRAINT [PF_Equipos] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EventoPartido]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventoPartido](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPartido] [int] NOT NULL,
	[IdEquipoJugador] [int] NOT NULL,
	[Tipo] [nvarchar](50) NOT NULL,
	[MinutoJuego] [int] NOT NULL,
	[IdJugadorAsistencia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fases]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fases](
	[IdFase] [int] IDENTITY(1,1) NOT NULL,
	[IdTorneo] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Orden] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFase] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inscripciones]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inscripciones](
	[IdInscripcion] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[FechaInscripcion] [datetime] NOT NULL,
	[IdTorneo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdInscripcion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[IdJugador] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuarioJugador] [int] NOT NULL,
	[Nombres] [varchar](100) NOT NULL,
	[Apellidos] [varchar](100) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[IdJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdUsuarioJugador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Organizadores]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Organizadores](
	[IdOrganizador] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[NombrePublico] [varchar](150) NOT NULL,
	[Logo] [nvarchar](max) NULL,
	[EmailContacto] [varchar](255) NULL,
	[NumeroTelefono] [varchar](50) NULL,
 CONSTRAINT [PK_Organizador] PRIMARY KEY CLUSTERED 
(
	[IdOrganizador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidos]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidos](
	[IdPartido] [int] IDENTITY(1,1) NOT NULL,
	[IdInscripcionA] [int] NOT NULL,
	[IdInscripcionB] [int] NOT NULL,
	[FechaHora] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
	[ResultadoEquipoA] [int] NOT NULL,
	[ResultadoEquipoB] [int] NOT NULL,
	[TipoPartido] [nvarchar](50) NOT NULL,
	[NumeroJornada] [int] NULL,
	[GolesA_Extra] [int] NULL,
	[GolesB_Extra] [int] NULL,
	[PenalesA] [int] NULL,
	[PenalesB] [int] NULL,
	[IdCruce] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPartido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Partido_Cruce] UNIQUE NONCLUSTERED 
(
	[IdCruce] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reglamentos]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reglamentos](
	[IdReglamento] [int] IDENTITY(1,1) NOT NULL,
	[PuntosPorVictoria] [int] NOT NULL,
	[PuntosPorEmpate] [int] NOT NULL,
	[TarjetasAmarillasParaSuspension] [int] NOT NULL,
	[PartidosSuspensionPorRojaDirecta] [int] NOT NULL,
	[PuntosPorDerrota] [int] NULL,
 CONSTRAINT [PK_Reglamento] PRIMARY KEY CLUSTERED 
(
	[IdReglamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sancion]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sancion](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdEquipoJugador] [int] NOT NULL,
	[IdPartidoOrigen] [int] NOT NULL,
	[Motivo] [nvarchar](200) NOT NULL,
	[FechasDeSuspension] [int] NOT NULL,
	[FechasCumplidas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Solicitudes]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Solicitudes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[FechaSolicitud] [datetime] NULL,
	[Estado] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Torneos]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Torneos](
	[IdTorneo] [int] IDENTITY(1,1) NOT NULL,
	[IdOrganizador] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Estado] [varchar](50) NOT NULL,
	[Activo] [bit] NULL,
	[CupoMaximo] [int] NOT NULL,
	[TieneFaseGrupos] [bit] NULL,
	[IdReglamento] [int] NULL,
 CONSTRAINT [PK_Torneos] PRIMARY KEY CLUSTERED 
(
	[IdTorneo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 27/11/2025 19:27:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Email] [varchar](255) NOT NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[NombreUsuario] [varchar](100) NOT NULL,
	[Rol] [varchar](50) NOT NULL,
	[FechaRegistro] [datetime] NOT NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[EquipoJugador] ADD  DEFAULT ((0)) FOR [EsCapitan]
GO
ALTER TABLE [dbo].[Equipos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Inscripciones] ADD  DEFAULT (getdate()) FOR [FechaInscripcion]
GO
ALTER TABLE [dbo].[Partidos] ADD  DEFAULT ((0)) FOR [ResultadoEquipoA]
GO
ALTER TABLE [dbo].[Partidos] ADD  DEFAULT ((0)) FOR [ResultadoEquipoB]
GO
ALTER TABLE [dbo].[Reglamentos] ADD  DEFAULT ((3)) FOR [PuntosPorVictoria]
GO
ALTER TABLE [dbo].[Reglamentos] ADD  DEFAULT ((1)) FOR [PuntosPorEmpate]
GO
ALTER TABLE [dbo].[Reglamentos] ADD  DEFAULT ((5)) FOR [TarjetasAmarillasParaSuspension]
GO
ALTER TABLE [dbo].[Reglamentos] ADD  DEFAULT ((1)) FOR [PartidosSuspensionPorRojaDirecta]
GO
ALTER TABLE [dbo].[Sancion] ADD  DEFAULT ((0)) FOR [FechasCumplidas]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT (getdate()) FOR [FechaSolicitud]
GO
ALTER TABLE [dbo].[Solicitudes] ADD  DEFAULT ('Pendiente') FOR [Estado]
GO
ALTER TABLE [dbo].[Torneos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [FechaRegistro]
GO
ALTER TABLE [dbo].[Cruces]  WITH CHECK ADD  CONSTRAINT [FK_Cruces_Fases] FOREIGN KEY([IdFase])
REFERENCES [dbo].[Fases] ([IdFase])
GO
ALTER TABLE [dbo].[Cruces] CHECK CONSTRAINT [FK_Cruces_Fases]
GO
ALTER TABLE [dbo].[EquipoJugador]  WITH CHECK ADD  CONSTRAINT [FK_EquipoJugador_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[EquipoJugador] CHECK CONSTRAINT [FK_EquipoJugador_Equipo]
GO
ALTER TABLE [dbo].[EquipoJugador]  WITH CHECK ADD  CONSTRAINT [FK_EquipoJugador_Jugador] FOREIGN KEY([IdJugador])
REFERENCES [dbo].[Jugadores] ([IdJugador])
GO
ALTER TABLE [dbo].[EquipoJugador] CHECK CONSTRAINT [FK_EquipoJugador_Jugador]
GO
ALTER TABLE [dbo].[Equipos]  WITH CHECK ADD  CONSTRAINT [FK_Equipos_UsuarioCreador] FOREIGN KEY([IdUsuarioCreador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Equipos] CHECK CONSTRAINT [FK_Equipos_UsuarioCreador]
GO
ALTER TABLE [dbo].[EventoPartido]  WITH CHECK ADD  CONSTRAINT [FK_EventoPartido_Asistencia] FOREIGN KEY([IdJugadorAsistencia])
REFERENCES [dbo].[EquipoJugador] ([Id])
GO
ALTER TABLE [dbo].[EventoPartido] CHECK CONSTRAINT [FK_EventoPartido_Asistencia]
GO
ALTER TABLE [dbo].[EventoPartido]  WITH CHECK ADD  CONSTRAINT [FK_EventoPartido_Jugador] FOREIGN KEY([IdEquipoJugador])
REFERENCES [dbo].[EquipoJugador] ([Id])
GO
ALTER TABLE [dbo].[EventoPartido] CHECK CONSTRAINT [FK_EventoPartido_Jugador]
GO
ALTER TABLE [dbo].[EventoPartido]  WITH CHECK ADD  CONSTRAINT [FK_EventoPartido_Partido] FOREIGN KEY([IdPartido])
REFERENCES [dbo].[Partidos] ([IdPartido])
GO
ALTER TABLE [dbo].[EventoPartido] CHECK CONSTRAINT [FK_EventoPartido_Partido]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Equipos] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Equipos]
GO
ALTER TABLE [dbo].[Inscripciones]  WITH CHECK ADD  CONSTRAINT [FK_Inscripciones_Torneos] FOREIGN KEY([IdTorneo])
REFERENCES [dbo].[Torneos] ([IdTorneo])
GO
ALTER TABLE [dbo].[Inscripciones] CHECK CONSTRAINT [FK_Inscripciones_Torneos]
GO
ALTER TABLE [dbo].[Jugadores]  WITH CHECK ADD  CONSTRAINT [FK_Jugadores_Usuarios] FOREIGN KEY([IdUsuarioJugador])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Jugadores] CHECK CONSTRAINT [FK_Jugadores_Usuarios]
GO
ALTER TABLE [dbo].[Organizadores]  WITH CHECK ADD  CONSTRAINT [FK_Organizador_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Organizadores] CHECK CONSTRAINT [FK_Organizador_Usuario]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partido_Cruce] FOREIGN KEY([IdCruce])
REFERENCES [dbo].[Cruces] ([IdCruce])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partido_Cruce]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partido_InscripcionA] FOREIGN KEY([IdInscripcionA])
REFERENCES [dbo].[Inscripciones] ([IdInscripcion])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partido_InscripcionA]
GO
ALTER TABLE [dbo].[Partidos]  WITH CHECK ADD  CONSTRAINT [FK_Partido_InscripcionB] FOREIGN KEY([IdInscripcionB])
REFERENCES [dbo].[Inscripciones] ([IdInscripcion])
GO
ALTER TABLE [dbo].[Partidos] CHECK CONSTRAINT [FK_Partido_InscripcionB]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_Jugadores] FOREIGN KEY([IdEquipoJugador])
REFERENCES [dbo].[EquipoJugador] ([Id])
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [FK_Sanciones_Jugadores]
GO
ALTER TABLE [dbo].[Sancion]  WITH CHECK ADD  CONSTRAINT [FK_Sanciones_Partidos] FOREIGN KEY([IdPartidoOrigen])
REFERENCES [dbo].[Partidos] ([IdPartido])
GO
ALTER TABLE [dbo].[Sancion] CHECK CONSTRAINT [FK_Sanciones_Partidos]
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipos] ([IdEquipo])
GO
ALTER TABLE [dbo].[Solicitudes]  WITH CHECK ADD FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Torneos]  WITH CHECK ADD  CONSTRAINT [FK_Torneos_Organizadores] FOREIGN KEY([IdOrganizador])
REFERENCES [dbo].[Organizadores] ([IdOrganizador])
GO
ALTER TABLE [dbo].[Torneos] CHECK CONSTRAINT [FK_Torneos_Organizadores]
GO
ALTER TABLE [dbo].[Torneos]  WITH CHECK ADD  CONSTRAINT [FK_Torneos_Reglamentos] FOREIGN KEY([IdReglamento])
REFERENCES [dbo].[Reglamentos] ([IdReglamento])
GO
ALTER TABLE [dbo].[Torneos] CHECK CONSTRAINT [FK_Torneos_Reglamentos]
GO
USE [master]
GO
